.style {
    padding: 4px;
}
.paragraph_style {
    color: rgb(255, 255, 255);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 39px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(255, 255, 255);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(183, 30, 0);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(86, 136, 65);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.style_1 {
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: none;
}
.style_2 {
    color: rgb(255, 234, 36);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
    text-transform: none;
}
.style_3 {
    color: rgb(255, 240, 61);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
    text-transform: none;
}
.style_4 {
    color: rgb(255, 104, 29);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
    text-transform: none;
}
.style_5 {
    color: rgb(255, 255, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
    text-transform: none;
}
.style_6 {
    color: rgb(255, 255, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 25px;
    opacity: 1.00;
    text-transform: none;
}
.style_7 {
    color: rgb(255, 38, 0);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 25px;
    opacity: 1.00;
    text-transform: none;
}
.style_8 {
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
}
.style_9 {
    color: rgb(118, 121, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 25px;
    opacity: 1.00;
    text-transform: none;
}
.style_10 {
    color: rgb(255, 104, 29);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 25px;
    opacity: 1.00;
    text-transform: none;
}
.style_11 {
    color: rgb(255, 38, 0);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
    text-transform: none;
}
.style_12 {
    color: rgb(118, 121, 255);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
    text-transform: none;
}
.style_13 {
    color: rgb(0, 0, 0);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
    text-transform: none;
}
.style_14 {
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: none;
}
.paragraph_style_4 {
    color: rgb(255, 255, 255);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_15 {
    color: rgb(86, 136, 65);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    opacity: 1.00;
}
.style_16 {
    color: rgb(183, 30, 0);
    line-height: 24px;
    opacity: 1.00;
}
.style_17 {
    color: rgb(183, 30, 0);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    opacity: 1.00;
    vertical-align: 6px;
}
.style_18 {
    line-height: 24px;
}
.paragraph_style_5 {
    color: rgb(20, 25, 35);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_19 {
    color: rgb(255, 255, 255);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 1.00;
}
.paragraph_style_6 {
    color: rgb(255, 255, 255);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_7 {
    color: rgb(255, 255, 255);
    font-family: 'Optima-Regular', 'Optima', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_8 {
    color: rgb(255, 38, 0);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_20 {
    line-height: 24px;
}
.style_External_546_138 {
    position: relative;
}
.style_External_538_123 {
    position: relative;
}
.paragraph_style_9 {
    color: rgb(255, 255, 255);
    font-family: 'TwCenMT-Regular', 'Tw Cen MT';
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 39px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_External_630_74 {
    position: relative;
}
.Aucun {
}
.Body {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_630_74 {
    position: relative;
}
.Normal_External_538_123 {
    position: relative;
}
.Normal_External_546_138 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.Title {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_641_35 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_493_25 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_757_8290 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_201_47 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
